body {
  margin: 0;
}
.conatiner {
  width: 500px;
  border-radius: 40px;
  margin: 50px auto;
  padding: 40px;
  color: white;
  background-color: #191e28;
}
span {
  color: #10b981;
}
button {
  color: white;
  cursor: pointer;
  margin-bottom: 10px;
  border-radius: 10px;
  border: none;
  padding: 10px;
  background-color: #10b981;
}
.generatedPass1,
.generatedPass2 {
  max-width: 500px;
  margin-top: 10px;
  color: #10b981;
  margin-right: 50px;
  margin-left: 20px;
  background-color: #273549;
  padding: 15px 80px;
}
